body {
background-image: url('img/20240915231032.png');
background-size:cover;
text-transform:uppercase;
font-family: "Teko", sans-serif;
background-attachment:fixed;
background-position:center;
background-repeat:repeat;
height:100vh;
}
.UNO {
 padding:30px;
 background-image: url('img/20240915223400.png');
 background-size:cover;
 border-radius:10px;
 color: white;
 text-align: center;
 font-size: 70px;
 fon-family: "Bebas Neue", sans-serif;
 font-family: "Jersey 15", sans-serif;
 position:relative;
 margin:-20px;
margin-bottom:40px;
border-bottom:3px solid white;
}

.TRES {
color:white;
text-align:center;
font-size:20px;
}

.DOS {
color:white;
text-align:center;
}

.CINCO {
color:white;
text-align:center;
font-size:20px;
margin-top:30px;
}

.CUATRO {
color:white;
text-align:center;
margin-top:50px;
}

.SIETE {
color:white;
text-align:center;
font-size:33px;
margin-top:30px;
}

.SEIS {
color:white;
text-align:center;
font-size:20px;
}


.OCHO {
color:white;
text-align:center;
font-size:33px;
margin-top:30px;
}
