body {
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: bold 90% monospace;
	color:white;
    
}

#QW {
    font: bold 90% monospace;
    background: linear-gradient(0deg, #831100 0%, #5c0701 100%);
    padding: 20px 20px;
    text-align: center;
    font-size: 30px;
    margi: 0;
    animation: QW 10s ease 0s infinite normal forwards;
    color: white;
    border-radius: 10px;
    background: linear-gradient(-45deg, #A213E7, #0654E0, #1AC763, #E6009E);
    background-size: 600%;
    -webkit-animation: anime 6s linear infinite;
            animation: anime 6s linear infinite;
}

#QW {
    outline: 3px solid white;
    transition: outline 3s ease 2s;
}

#QW:hover {
    outline: 4px solid white;  
}

.text-center {
    text-align: center;
}

p {
    font: bold 90% monospace;
    font-size: 18px;
    text-align: center;
    color: white;
}

a {
    text-align: center;
}

.XDD {
    background: gray;
    width: 50px;
    height: 150px;
    box-shadow: 0 0 7px 1px #474747, 0 0 7px 1px #474747, 0 0 7px 1px #474747, 0 0 7px 1px #474747;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: anime 6s linear infinite;
            animation: anime 6s linear infinite;
}

@-webkit-keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.POPO {
    text-align: center;
    font: bold 90% monospace;
    width: 250px;
    height: 50px;
    font-size: 12px;
}

.XG {
    font-size: 18px;
}

.XDD {
    text-align: center;
    height: 40px;
    width: 110px;
    font-size: 13px;
    width: 120px;
}

.XDD:hover {
    width: 110px;
}

.POPO {
    border-radius: 5px;
}
.monster {
  width: 100px;
  height: 100px;
  margin: 2% auto;
  background: url('https://abs.twimg.com/a/1468458211/img/animations/web_heart_animation.png') left center;
  animation: play .8s steps(28) infinite;
}

@keyframes play {
	100% { background-position: right; }
}
h1{
	color:white;
}
h2{
	color:white;
}
.cuatro{
	font-size:21px;
}
h1 {
  font-family: Roboto;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 2000% 2000%;
  color: transparent;
  animation-fill-mode: forwards;
  -webkit-background-clip: text;
  -webkit-animation: rgb 30s ease infinite;
  -z-animation: rgb 30s ease infinite;
  -o-animation: rgb 30s ease infinite;
    animation: rgb 30s ease infinite;
}

/* Text color animation */
@-webkit-keyframes rgb {
  0% { background-position: 0% 82% }
  50% { background-position: 100% 19% }
  100% { background-position: 0% 82% }
}

@-moz-keyframes rgb {
  0%{ background-position:0% 82% }
  50%{ background-position:100% 19% }
  100%{ background-position:0% 82% }
}

@-o-keyframes rgb {
  0%{ background-position:0% 82% }
  50%{ background-position:100% 19% }
  100%{ background-position:0% 82% }
} 

@keyframes rgb {
  0%{ background-position:0% 82%; }
  50%{ background-position:100% 19%; }
  100%{ background-position:0% 82%; }
}
h1.material-icons{
  font-size:30px;
}

